<ion-view view-title="Add New Patient" name="addPatient-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <h4>{{userMessage}}</h4>
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.Username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.Password">
          </label>
      </div>
      <a href='/#/register' style="text-decoration: none"><button class="button button-block button">Register</button></a>
  </ion-content>
</ion-view>
