<ion-view view-title='Patients'>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="goToAddPatient()">New Patient</button>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" class="padding">
        <div class="card" ng-repeat="patient in patients">
          <div ng-click="viewPatient({{patient.PatientId}})">
            <h4>{{patient.Name}}</h4>
            <h5>Contact: {{patient.PrimaryContact}}</h5>
            <h5>Phone: {{patient.Phone}} | Address: {{patient.Location}}</h5>
          </div>
        </div>
    </ion-content>
</ion-view>
