<ion-view view-title=Appointment>
  <ion-nav-buttons side="right">
      <button class="button" ng-click="goToEditAppointment()">Edit</button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="true" class="main-content">
    <div class="list">
      <div class="item item-divider">
        Appointment Information
      </div>
      <div class="item" ng-click="goToPatient()">
        Patient Name: {{data.Title}}
      </div>
      <div class="item">
        Date: {{data.Date}}
      </div>
      <div class="item">
        Start Time: {{data.TimeStart}}
      </div>
      <div class="item">
        End Time: {{data.TimeEnd}}
      </div>
    </div>
  </ion-content>
</ion-view>
