<ion-view view-title='Patients'>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="goToEditPatient()">New Patient</button>
    </ion-nav-buttons>

    <ion-content scroll="false" class="main-content">
      <a href='/#/patient/{{patient.PatientId}}' style="text-decoration: none">
        <div class="card" ng-repeat="patient in patients">
          <h4>Patient: {{patient.Name}}</h4>
          <h5>Contact: {{patient.PrimaryContact}}</h5>
          <h5>Phone: {{patient.Phone}} | Address: {{patient.Location}}</h5>
        </div>
      </a>
    </ion-content>
</ion-view>
